h1 {
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #EDDDD0;
}

header{
    background-color: #A6CAD4;
}

footer {
    background-color: #A6CAD4;
}

.content-list{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.content-list li{
    padding:10px;
    display:inline-block;
}

.job-item {
    display:grid;
    grid-template-columns: 2fr 1fr;
}

.course-item {
    display:grid;
    grid-template-columns: 1fr 2fr;
}

