h1 {
    /* color:rgb(234, 41, 41) ;
    background-color: lightblue;
    text-align: center; */
}

.FtFy {
    font-family: 'Montserrat', sans-serif;
}

.CentAl {
    text-align: center;
    background-color: lightblue;
}

.job-item {
    display:grid;
    grid-template-columns: 2fr 1fr;
}