h1 {
    font-family: 'Montserrat', sans-serif;
}

.c-align {
    text-align: center;
}

body{
    background-color: #EDDDD0;
}

header{
    background-color: #A6CAD4;
}

footer {
    background-color: #A6CAD4;
}

.content-list{
    list-style-type: none;
    padding:0;
    display: flex;
    justify-content: center;
}

.content-list li{
    padding:10px;
    display:inline-block;
}

.job-item {
    display:grid;
    grid-template-columns: 2fr 1fr;
}

.course-item {
    display:grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 15px;
}

@media (max-width:600px) {
    .course-item {
        display: flex;
        flex-direction: column;  
    }

    .content-list {
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
}

